# Standard ignores
*.pyc
*.pyo
*.DS_Store
*.swp
*.idea
*.project
*.pydevproject
*.kpf
venv
.deps

# Don't store secret keys in version control
secret_keys.py

temp/

# These are too big to push; we should just make the script auto-download them if needed
scripts/names
