{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">Name Your Bantling</h1>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Top Gender</th>
                <th>Like</th>
                <th>Hate</th>
            </tr>
        </thead>
        <tbody>
            {% for example in examples or [] %}
            <tr>
                <td>{{ example.name }}</td>
                <td>{{ example.score }}</td>
                <td>{{ example.top_gender }}</td>
                <td>
                    <a href="" class="btn">Like</a>
                </td>
                <td>
                    <a href="" class="btn">Hate</a>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="5">No names yet</td></tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

{% block footer %}
    
{% endblock footer %}

{% block tail_script %}

{% endblock tail_script %}
